<h1 id="name-crypto-page"><%= @name %></h1>
<h5 id="username-page"><%= "My favorite crypto" %></h5>

<ul id="user-list">
<% @user.cryptocurrencies.each do |cryptocurrency| %>
<li id="user-crypto">
  <%= cryptocurrency.name %> - <%=cryptocurrency.symbol %>
  <div id="user-crypto">
    <%= cryptocurrency.symbol %>
  </div>
  <% if current_user.id == cryptocurrency.user_id %>
  <div id="user-actions">
    <%= link_to "Edit", edit_cryptocurrency_path(cryptocurrency.id) %>
    <%= link_to "Destroy", cryptocurrency_path(cryptocurrency), method: :delete %>
  </div>
  <% end %>
</li>
<% end %>
</ul>
