<h1>New Cryptocurrency Form</h1>

<% if @price_goal.errors %>
  <div name = "errorDiv">
    <ul name = "errors">
      <% @price_goal.errors.full_messages.each do |message| %>
        <li> <%= message %> </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for [@price_goal] do |f| %>

  <div class="field">
    <%= f.label :crypto_name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :target_price %>
    <%= f.number_field :target_price %>
  </div>

  <div class="actions">
    <%= f.submit "Add Target Price" %>
  </div>
<% end %>
