<h4 id="form-title">New Cryptocurrency Form</h4>

<% if @cryptocurrency.errors %>
  <div name = "errorDiv">
    <ul name = "errors">
      <% @cryptocurrency.errors.full_messages.each do |message| %>
        <li> <%= message %> </li>
      <% end %>
    </ul>
  </div>
<% end %>

<div id="cryptocurrency-form">
<%= form_for [@cryptocurrency] do |f| %>

  <div class="field">
    <%= f.label :cryptocurrency_name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :symbol %>
    <%= f.text_field :symbol %>
  </div>

  <div class="actions">
    <%= f.submit "Add Cryptocurrency" %>
  </div>
<% end %>
</div>
